@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cinza: rgb(97, 97, 97);
    --preto: rgb(0, 0, 0);
    --dourado: rgb(204, 192, 87);
    --dourado-claro: rgb(204, 192, 128);
    --dourado-escuro: rgb(204, 192, 87);
    --branco: #F6F1E9;
    --texto: "Playfair Display", serif;
    --titulo: "Limelight", sans-serif;
}

body {
    background-color: var(--preto);
    font-family: var(--texto);
    margin: 0;
}

header {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.img-logo {
    width: 25%;
    border-radius: 100%;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-family: var(--titulo);
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    color: var(--dourado-escuro);
}

.menu a:hover {
    color: var(--preto);
    transition: 0.5s;
}

.capa img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.capa img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.apresentacao {
    font-family: var(--titulo);
    text-align: center;
    margin: 30px 0;
}


.apresentacao h2 {
    color: var(--dourado-claro);
    font-size: 50px;
}

.apresentacao p {
    color: var(--dourado);
    font-size: 25px;
    font-family: var(--texto);
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    gap: 5px;
}

.sobre div {
    width: 40%;
    text-align: center;
}

.sobre-img img {
    width: 50%;
    border-radius: 0px 20px 0 20px;
    box-shadow: 3px 3px 10px #000000;
}

.sobre h2 {
    font-family: var(--titulo);
    font-size: 40px;
    color: var(--dourado-claro);
    margin-bottom: 15px;
}

.sobre p {
    font-size: 24px;
    color: var(--dourado-escuro);
}

footer {
    background-color: var(--cinza);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dourado);
    font-size: 18px;
}

/* Produtos */

.produtos {
    padding: 40px 0;
    text-align: center;
}

.produtos h2 {
    font-family: var(--titulo);
    font-size: 40px;
    color: var(--dourado-claro);
    margin: 40px 0;
}

.lista-produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.produto {
    background-color: var(--dourado-claro);
    width: 27%;
    padding: 20px;
    border-radius: 10px;
}

.produto img {
    width: 100%;
    border-radius: 10px;
}

.produto h3 {
    font-family: var(--titulo);
    color: var(--preto);
    font-size: 24px;
}

.produto p {
    font-family: var(--texto);
    color: var(--preto);
    font-size: 18px;
    font-style: italic;
}

.produto button {
    padding: 10px 24px;
    font-size: 16px;
    font-family: var(--texto);
    background-color: var(--preto);
    color: var(--branco);
    border: none;
    border-radius: 12px;

}

.produto button:hover {
    background-color: var(--cinza);
    transition: 0.5s;
    cursor: pointer;
}